.DS_Store
card/old_card
front_copy
card/generator/old
card/svc/import
card/svc/import2
bin/fetch-cards-pdf/images
assets/images/front/*.png
!assets/images/front/0.png
assets/fronts/*.png
!assets/fronts/0.png
psd