:root {
	--scale-factor: 0.5;
	--card-width: calc(750px * var(--scale-factor));
	--card-height: calc(1050px * var(--scale-factor));

	--rules-header-width: calc(662px * var(--scale-factor));
	--rules-header-height: calc(50px * var(--scale-factor));
	--rules-header-top: calc(48px * var(--scale-factor));
	--rules-header-left: calc(87px * var(--scale-factor));

	--rules-section-width: calc(707px * var(--scale-factor));
	--rules-section-height: calc(852px * var(--scale-factor));
	--rules-section-top: calc(113px * var(--scale-factor));
	--rules-section-left: calc(21px * var(--scale-factor));
}

* {
	box-sizing: border-box;
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	background-size: cover;
	display: inline-block;
}

.card.rules > header, .card.spells > header {
	width: var(--rules-header-width);
	height: var(--rules-header-height);
	position: absolute;
	top: var(--rules-header-top);
	left: var(--rules-header-left);
	overflow: hidden;
	padding: 0 calc(var(--rules-header-width) * 0.01);
}

.card.rules > header > p, .card.spells > header > p {
	margin: 0;
	padding: 0;
	line-height: var(--rules-header-height);
	font-size: calc(var(--rules-header-height) * 0.7);
	text-transform: uppercase;
}

.card.rules > section, .card.spells > section {
	width: var(--rules-section-width);
	height: var(--rules-section-height);
	position: absolute;
	top: var(--rules-section-top);
	left: var(--rules-section-left);
	overflow: hidden;
	padding: calc(var(--rules-section-height) * 0.025) calc(var(--rules-section-width) * 0.025);
	line-height: calc(var(--rules-header-height) * 0.6);
	font-size: calc(var(--rules-header-height) * 0.45);
}

.card.rules > section > * {
	margin-top: 0;
	margin-bottom: 4px;
}

.card.rules > section > p.title {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
}

.card.rules > section > ul {
	padding: 0;
	padding-left: 4px);
}

.card.rules > section strong {
	font-family: sans-serif;
	text-transform: uppercase;
}

.card.rules > section strong::after {
	content: "-";
	margin: 0 0.25em;
}

.card.spells > section table {
	border-collapse: collapse;
	text-align: center;
}

.card.spells > section table td:first-child {
	text-align: left;
}

.card.spells > section table th:first-child {
	text-align: left;
}

.card.spells > section thead {
	background: black;
	color: white;
	text-transform: uppercase;
}

.card.spells > section tr > * {
}

.card.spells > section tr.spellline > td {
	text-transform: uppercase;
	font-family: sans-serif;
	padding-top: 0.5em;
}

.card.spells > section tr.spellline > td:first-child {
	font-weight: bold;
}
