@import: url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

@import 'calisto.css';

@card-width: 65mm;
@card-height: 90mm;

.card {
	width: @card-width;
	height: @card-height;
	position: relative;
	background-size: cover;
	display: inline-block;
	overflow: hidden;

	font-family: 'Calisto MT', serif;
	font-size: 2mm;
	line-height: 2.1mm;

	// The text class is used as the base for all the text cards, those
	// that are composed of a title block and a section block that contains
	// free-form text, like the rules, spells, or feat cards.
	.text {
		> header {
			position: absolute;
			left: 10mm;
			top: 4.5mm;
			width: @card-width - 10mm;
			height: 4mm;
			line-height: 4.2mm;

			> p {
				margin: 0;
				padding: 0;

				font-size: 3mm;
				text-transform: uppercase;
			}
		}

		> section {
			position: absolute;
			left: 1.5mm;
			top: 10mm;
			width: 59mm;
			height: 72mm;

			padding: 1.5mm;
		}

		&.circle-orboros { background-image: url('../images/cards/text-circle-orboros.png'); }
		&.convergeance-of-cyriss { background-image: url('../images/cards/text-convergeance-of-cyriss.png'); }
		&.crucible-guard { background-image: url('../images/cards/text-crucible-guard.png'); }
		&.cryx { background-image: url('../images/cards/text-cryx.png'); }
		&.cygnar { background-image: url('../images/cards/text-cygnar.png'); }
		&.grymkin { background-image: url('../images/cards/text-grymkin.png'); }
		&.infernals { background-image: url('../images/cards/text-infernals.png'); }
		&.khador { background-image: url('../images/cards/text-khador.png'); }
		&.legion-of-everblight { background-image: url('../images/cards/text-legion-of-everblight.png'); }
		&.mercenaries { background-image: url('../images/cards/text-mercenaries.png'); }
		&.minions { background-image: url('../images/cards/text-minions.png'); }
		&.protectorate-of-menoth { background-image: url('../images/cards/text-protectorate-of-menoth.png'); }
		&.retribution-of-scyrah { background-image: url('../images/cards/text-retribution-of-scyrah.png'); }
		&.skorne { background-image: url('../images/cards/text-skorne.png'); }
		&.trollbloods { background-image: url('../images/cards/text-trollbloods.png'); }
	}

	&.profile {
		background-image: url('../images/cards/profile-trollbloods.png');
	}

	&.rules {
		.text;

		> section {
			* {
				margin-top: 0;
				margin-bottom: 0.5em;
			}

			p.title {
				font-size: 0.9em;
				font-weight: bold;
				text-decoration: underline;
				text-transform: uppercase;
			}

			p > strong {
				font-size: 0.9em;
				font-weight: bold;
				text-transform: uppercase;
			}

			p > strong::after {
				content: "–";
				margin-left: 0.25em;
			}
		}
	}

	&.spells {
		.text;

		> section {
			> table {
				border-collapse: collapse;

				th, td {
					text-align: center;

					&:first-child {
						text-align: left;
					}
				}

				th, tr.spellline > td {
					font-size: 0.85em;
					font-weight: bold;
					font-stretch: condensed;
					text-transform: uppercase;
				}

				tr.spellline > td {
					padding-top: 1em;
				}
			}
		}
	}

	&.feat {
		.text;

		> section {
			width: 52mm;
			padding: 1.5mm 5mm;

			p.title {
				font-weight: bold;
				font-stretch: condensed;
				text-transform: uppercase;
				text-align: center;

				&::before {
					content: "feat: ";
				}
			}

			p.fluff {
				font-weight: bold;
				font-style: italic;
				text-align: center;
			}
		}
	}
}

/*

.card.spells > section table {
border-collapse: collapse;
text-align: center;
}

.card.spells > section table td:first-child {
text-align: left;
}

.card.spells > section table th:first-child {
text-align: left;
}

.card.spells > section thead {
background: black;
color: white;
text-transform: uppercase;
}

.card.spells > section tr > * {
}

.card.spells > section tr.spellline > td {
text-transform: uppercase;
font-family: sans-serif;
padding-top: 0.5em;
}

.card.spells > section tr.spellline > td:first-child {
font-weight: bold;
}
*/
